examples/chapter5/HelloAgent_n8nCase.json
{
  "name": "HelloAgent_n8nCase",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        368,
        -160
      ],
      "id": "46a534e3-3e72-4d0b-9a41-bc5c28834ee4",
      "name": "Gmail",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "XD1oTN8hEyHzsxBR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        32
      ],
      "id": "882131ef-83bc-415f-9430-59d40503c4ae",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4HqrqZ1DN3LCRp28",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail').item.json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        32
      ],
      "id": "d230cedb-0a48-424f-8b79-4a5e8ae304a7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        672,
        32
      ],
      "id": "164578ff-9ef8-41ab-b4c3-22f7871c4885",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "Nmxsc4WxINf7TGrA",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail').item.json.From }}",
        "subject": "=Re:  {{ $('Gmail').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        -160
      ],
      "id": "c680c326-e4e1-41df-9f76-520c4b522618",
      "name": "Send a message",
      "webhookId": "94ed889e-1e8a-4c90-980f-38cd02c32873",
      "credentials": {
        "gmailOAuth2": {
          "id": "XD1oTN8hEyHzsxBR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "my-dailytime",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -16,
        -160
      ],
      "id": "ead1ed07-6e2c-4ba2-9d28-d5adf76540f1",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-exp-03-07"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        48
      ],
      "id": "67402e5f-270b-4e31-9b48-4d2a2b60d79e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "4HqrqZ1DN3LCRp28",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        128,
        48
      ],
      "id": "e55e36f5-8628-496b-acb7-52a4f67b9af2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "return [\n\n  {\n    \"doc_id\": \"work-schedule-001\",\n    \"content\": \"My working hours are Monday to Friday, 9:00 AM to 5:00 PM. The timezone is Australian Eastern Standard Time (AEST).\"\n  },\n  {\n    \"doc_id\": \"off-hours-policy-001\",\n    \"content\": \"Outside working hours, including weekends and public holidays, I may not reply immediately.\"\n  },\n  {\n    \"doc_id\": \"auto-reply-instruction-001\",\n    \"content\": \"If an email arrives outside working hours, the AI assistant should tell the sender that the message was received and that I will review and reply as soon as possible during the next business day between 9:00 AM and 5:00 PM.\"\n  }\n\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -160
      ],
      "id": "75bc8b52-3ff2-43b3-a6fa-d200c821de4a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this Simple Vector Store tool to query my personal response policy, especially working hours and email reply expectations. Use it whenever the workflow needs to determine whether the current time is inside working hours or explain when I will reply.",
        "memoryKey": {
          "__rl": true,
          "value": "my-dailytime",
          "mode": "list",
          "cachedResultName": "my-dailytime"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        800,
        48
      ],
      "id": "ad9ba7d0-26b7-499b-9c5a-3d4295f6f7ed",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-exp-03-07"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        208
      ],
      "id": "9ff48ca5-a7fd-45d6-8ff3-01c86bf63eea",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "4HqrqZ1DN3LCRp28",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Context\n- Current time: {{ new Date().toLocaleString('en-AU', { timeZone: 'Australia/Sydney', hour12: false }) }} (Sydney, Australia time)\n- Sender: {{ $json.From }}\n- Subject: {{ $json.Subject }}\n- Email body: {{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role and Goal\nYou are a professional AI email assistant. Your job is to answer incoming email questions using public information when possible, and prepend a status note based on my working schedule.\n\n# Context\n- Current time: {{ new Date().toLocaleString('en-AU', { timeZone: 'Australia/Sydney', hour12: false }) }} (Sydney, Australia time)\n- Email content is available in the input data.\n\n# Available Tools\n- Simple Vector Store2: query my exact working hours, such as Monday to Friday from 9:00 AM to 5:00 PM.\n- SerpAPI: primary public-information source for answering specific questions in the email.\n\n# Workflow\n1. Analyze the email and extract the sender's main question.\n2. Gather information in parallel:\n   a. Use SerpAPI to search for an answer to the sender's question.\n   b. Use Simple Vector Store2 to retrieve my configured working hours.\n3. Draft the core answer from the public information found through SerpAPI.\n4. Add a status prefix:\n   a. Compare the current time with the retrieved working hours.\n   b. If the email arrived outside working hours, include a prefix that clearly states the working hours.\n      Example: \"Hello, thank you for your message. You contacted me outside my working hours (my working hours are: [insert retrieved working hours]). I will personally review this email on the next business day. In the meantime, here is a preliminary answer based on public information:<br><br>---<br><br>\"\n   c. If the email arrived during working hours, use a short greeting.\n      Example: \"Hello, regarding your question, here is the answer:<br><br>---<br><br>\"\n   d. Combine the prefix and the core answer into the final email body.\n5. Output only strict JSON in this shape, without extra explanation:\n{\n  \"shouldReply\": true,\n  \"subject\": \"Re: [original email subject]\",\n  \"body\": \"[final email body]\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        -160
      ],
      "id": "b5e90bc0-1d53-4bea-9300-b9982ff5b9b4",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b54e880-ce89-48af-bc22-d753d162b460",
  "meta": {
    "instanceId": "87f6aa8e755e8ea119eeb2e3b3db6a7d58c6b1d2109e9b94ec4ef98f2449f77d"
  },
  "id": "b8xRsyXsQr5XE16V",
  "tags": []
}
